@using BarKeep.Models
@model BarKeep.Models.Cocktail

@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("Create",
  "Products",
  FormMethod.Post,
  new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()


    <h1>Add a New Cocktail</h1>
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-gradient-light border-0 mb-3" data-aos="fade-right">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control w-75" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AlcoholTypeId" class="control-label"></label>
                            <select asp-for="AlcoholTypeId" class="form-control w-75" asp-items="ViewBag.AlcoholTypeId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Source" class="control-label"></label>
                            <input asp-for="Source" class="form-control w-75" />
                            <span asp-validation-for="Source" class="text-danger w-75"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GlasswareId" class="control-label"></label>
                            <select asp-for="GlasswareId" class="form-control w-75" asp-items="ViewBag.GlasswareId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Garnish" class="control-label"></label>
                            <input asp-for="Garnish" class="form-control w-75" />
                            <span asp-validation-for="Garnish" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Add an image</label>
                            <input type="file" name="file" id="file" />
                            <span asp-validation-for="ImgUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descriptor 1</label>
                            <select asp-for="CocktailDescriptors[0].DescriptorId" class="form-control w-75" asp-items="ViewBag.Descriptor1Id"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Descriptor 2</label>
                            <select asp-for="CocktailDescriptors[1].DescriptorId" class="form-control w-75" asp-items="ViewBag.Descriptor2Id"></select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-md-6">
                <div data-aos="fade-down">
                    <div class="card-header">
                        <h4>Ingredients</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div id="ingredientsDiv">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" asp-for="Ingredients[0].Amount" placeholder="Amount">
                                    </div>
                                    <div class="col-sm-9 input-group">
                                        <input type="text" class="form-control" asp-for="Ingredients[0].Name" placeholder="Ingredient Name">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="button" onclick="addIngredientInput()"><i class="fas fa-plus-circle"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-down">
                    <div class="card-header">
                        <h4>Instructions</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <h5>Instructions</h5>
                            <div id="instructionsDiv">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <label>Step 1</label>
                                    </div>
                                    <div class="col-sm-11 input-group">
                                        <input hidden type="text" asp-for="Instructions[0].Number" value="1" />
                                        <input type="text" class="form-control" asp-for="Instructions[0].Description" placeholder="Instruction">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="button" onclick="addInstructionInput()"><i class="fas fa-plus-circle"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="createDiv" class="form-group">
            <input id="cocktailCreateBtn" type="submit" value="Create" class="btn btn-primary" onclick="disableCreateBtn()" />
            <h4 id="loadingBtn" class="hide">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <i class="fas fa-cocktail fa-2x mr-2"></i>Loading...
            </h4>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
