@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page">
    <div class="row">
        <div class="col-md-6">
            <h1 class="ml-4 mt-4">Bar Keep</h1>
            <p class="ml-4">Bar Keep is a go-to resource for all your home cocktail making needs. Search through the catolog of any drink on the application, add your own cocktail recipies and include where you get them from, and get suggestions from Bar Keep on drinks to make based on three simple questions. </p>
        </div>
        <div class="col-md-6">
            <h6 class="mt-4 mr-2"> Not sure what you want to drink? </h6>
            <h6>Get some suggestions from Bar Keep</h6>
            <a type="button" class="btn btn-warning" asp-controller="Cocktails" asp-action="Questions">Questions</a>
        </div>
    </div>
</div>
